﻿@using System.Web.Optimization
@using System.Web.UI.WebControls
@model TicketManagement.Web.Models.EventViewModel

@{
    ViewBag.Title = @Model.Name;
}
@section styles
{
    @Styles.Render("~/detail/css")
}
<div class="row">
    <div class="col-lg-12 m-b-xl">

        <div class="ibox product-detail m-t-lg">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-5">

                        <div class="product-images">
                            <img class="img-responsive" src="@Model.Poster" alt="poster" />

                        </div>

                    </div>
                    <div class="col-md-7">

                        <h1 class="font-bold m-b-xs">
                            @Model.Name
                            <small class="pull-right"><i class="fa fa-calendar"></i> @Model.DateStart.DateTime.ToShortDateString()</small>
                        </h1>

                        <hr>

                        <h3>@Resources.Resource.DescriptionEvent</h3>

                        <div class="text-muted">
                            <h4> @Model.Description</h4>
                        </div>
                        <div class="m-t-md">
                            <h3>@Resources.Resource.TimeStart</h3>
                        </div>
                        <h4 class="text-muted"> <i class="fa fa-clock-o"></i> @Model.DateStart.DateTime.ToShortTimeString()</h4>

                        <div class="m-t-md">
                            <h3> @Resources.Resource.TimeEnd</h3>
                        </div>
                        <h4> <i class="fa fa-clock-o"></i> @Model.DateEnd.DateTime.ToShortTimeString()</h4>
                        <div class="m-t-md">
                            <h3>@Resources.Resource.Venue</h3>
                        </div>
                        <div>
                            <h4 class="text-muted"><i class="fa fa-building"></i> @Model.Layout.Venue.Name </h4>
                        </div>
                        <div class="m-t-md">
                            <h3>@Resources.Resource.Address</h3>
                        </div>
                        <div>
                            <h4 class="text-muted"><i class="fa fa-map-marker"></i> @Model.Layout.Venue.Address</h4>
                        </div>
                        <div class="m-t-md">
                            <h3>@Resources.Resource.Phone</h3>
                        </div>
                        <div>
                            <h4 class="text-muted"> <i class="fa fa-phone"></i> @Model.Layout.Venue.Phone</h4>
                        </div>
                        <hr>
                        @if (User.IsInRole("EventManager"))
                        {
                            <div class="btn-group">
                                @Html.ActionLink(@Resources.Resource.EditEvent, "Edit", new { area = "Manager", controller = "Event", id = Model.Id }, new { @class = "btn btn-primary" , id = "EditButton" })
                                @Ajax.ActionLink(@Resources.Resource.DeleteEvent, "Delete", new { area = "Manager", controller = "Event", id = @Model.Id }, new AjaxOptions { UpdateTargetId = "errorDelete" }, new { @class = "btn btn-danger", id = "DeleteButton" })
                            </div>
                            <div id="errorDelete"></div>
                        }
                        <div id="succeedBuy"></div>
                    </div>
                </div>

                @if (User.IsInRole("User"))
                {
                    <div class="row m-t-md">
                        <div class="col-md-12 ">
                            <hr>
                            <h1 class="text-center">@Resources.Resource.SelectSeats</h1>
                        </div>
                    </div>
                    <div class="row m-t-lg">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="jumbotron">
                                <div class="row">
                                    @foreach (var area in Model.Layout.Areas)
                                    {
                                        var row = 0;
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h5>@area.Description    @area.Price.ToString("C2")</h5>
                                                    <div class="ibox-tools">
                                                        <a class="dropdown-toggle" href="@Url.Action("EditPrice",new {area="Manager", controller="Event" , id=area.Id})">
                                                            <i class="fa fa-wrench"></i>
                                                        </a>
                                                    </div>

                                                </div>
                                                <div class="ibox-content">

                                                    @foreach (var seat in area.Seats)
                                                    {
                                                        if (row != seat.Row)
                                                        {
                                                            row = seat.Row;
                                                            <div class="row"><div class="col-md-12"></div></div>
                                                            <div class="checkboxFour no-shadow">
                                                                <input type="checkbox" value="" id="checkboxRowInput_@seat.Id" name="" />
                                                                <label id="row-seat" for="checkboxRowInput_@seat.Id"> @seat.Row</label>
                                                            </div>
                                                        }

                                                        <div class="checkboxFour">
                                                            @if (seat.State == 2)
                                                            {
                                                                <input type="checkbox" disabled="" value="@seat.Id" id="checkboxFourInput_@seat.Id" name="" />
                                                            }
                                                            else
                                                                if (seat.State == 1)
                                                            {
                                                                <input type="checkbox" checked value="@seat.Id" id="checkboxFourInput_@seat.Id" name="@seat.Id" onchange="bookSeat(@seat.Id,this.checked)" />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" value="@seat.Id" id="checkboxFourInput_@seat.Id" name="@seat.Id" onchange="bookSeat(@seat.Id,this.checked)" />
                                                            }
                                                            <label id="checkbox_@seat.Id" for="checkboxFourInput_@seat.Id" title="@string.Format("{0}: {1}\n{2}: {3}", Resources.Resource.ReduxPrice, area.Price, Resources.Resource.ReduxRow, seat.Row)"> @seat.Number</label>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="ibox-footer no-borders p-m">

                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 aligner">
                                    <div class="checkboxFour">
                                        <input type="checkbox" value="" id="checkboxFourInput_exmpl" name="" />
                                        <label for="checkboxFourInput_exmpl"></label>
                                    </div>
                                    <div class="p-xs"><h2> - @Resources.Resource.SeatVacant</h2></div>
                                </div>
                                <div class="col-lg-4 aligner">
                                    <div class="checkboxFour">
                                        <input type="checkbox" disabled="" value="" id="checkboxFourInput_exmpl1" name="" />
                                        <label for="checkboxFourInput_exmpl1"></label>
                                    </div>
                                    <div class="p-xs"><h2> - @Resources.Resource.SeatNoVacant</h2></div>
                                </div>
                                <div class="col-lg-4 aligner">
                                    <div class="checkboxFour">
                                        <input type="checkbox" checked="" value="" id="checkboxFourInput_exmpl2" name="" />
                                        <label for="checkboxFourInput_exmpl2"></label>
                                    </div>
                                    <div class="p-xs right"><h2> - @Resources.Resource.SeatYouLock</h2></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="cart" class="row">
                        <div class="aligner m-t-lg">
                            <button class="btn btn-outline btn-success" type="button" onclick="bookSeat()">Refresh cart</button>
                        </div>

                    </div>
                }

            </div>

            <div class="ibox-footer">
                <h3 class="pull-right">
                    <i class="fa fa-calendar"></i> @Model.DateStart.LocalDateTime.ToShortDateString()
                </h3>
                <a class="btn btn-primary btn-outline" href="@Url.Action("Index", "Event")">  <i class="fa fa-arrow-left"></i>  @Resources.Resource.Back</a>
            </div>
        </div>

    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")

    <script>
        function bookSeat(seatId, check) {

            var data = {
                'Id': seatId,
                'State': check
            };

            $('#cart').load('@Url.Action("LockSeat", new {area = "Manager", controller = "Event"})', data);
        }

    </script>
}
