﻿@using PagedList.Mvc
@model PagedList.IPagedList<TicketManagement.Web.Models.EventViewModel>

@{
    ViewBag.Title = "title";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-3">
                <a class="ibox" href="@Url.Action("Details","Event",new {id=item.Id})">
                    <div class="ibox-content product-box">

                        <img class="img-responsive" alt="info" src="@item.Poster" />
                        <div class="product-desc">
                            <span class="product-price">
                                @item.DateStart.LocalDateTime.ToShortDateString()
                            </span>
                            <a id="event-@item.Id" href="@Url.Action("Details","Event",new {id=item.Id})" class="product-name"> @item.Name</a>



                            <div class="small m-t-xs">
                                <p><i class="fa fa-map-marker"></i> @item.Layout.Venue.Address</p>
                            </div>
                            <div class="m-t text-righ">
                                <details>
                                    @item.Description <br>
                                    <abbr title="@Resources.Resource.Phone">P:</abbr> @item.Layout.Venue.Phone
                                </details>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>
@Resources.Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))