﻿input[type=checkbox] {
    visibility: hidden;
}

.checkboxFour {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: #fff;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.checkboxFour label {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all .5s ease;
    cursor: pointer;
    background: #7f8c8d;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
    font-size: large;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.checkboxFour input[type=checkbox]:checked + label {
    background: #3498db;
}

.checkboxFour input[type=checkbox]:disabled + label {
    background: #c0392b;
    /*#2c3e50*/
}

#row-seat {
    background: white;
    box-shadow: none;
    color: black;
}

.no-shadow {
    box-shadow: none;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
