﻿@using System.Web.Optimization
@model TicketManagement.Web.Models.EditProfileModelView

@{
    ViewBag.Title = Resources.Resource.DescriptionEditProfile;
}

<div class="row">
    <div class="middle-box text-center center-block animated fadeInDown" style="width: 400px;">

        <h2>@Resources.Resource.DescriptionEditProfile</h2>
        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "m-t", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Resource.FirstName } })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Resource.Surname } })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            </div>
            <div class="form-group">
                @Html.DropDownList("TimeZone", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>
            <p class="text-danger">@Html.ValidationSummary()</p>
            <button type="submit" class="btn btn-primary block full-width m-b">@Resources.Resource.UpdateData</button>
        }
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
