﻿@using PagedList
@model TicketManagement.Web.Models.UserProfileModelView

@{
    ViewBag.Title = "Profile";
}
<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
        <h2 class="no-margins">
            @Model.FirstName @Model.Surname
            @if (User.IsInRole("User"))
            {
                <small id="UserRole" class="label label-warning">User</small>
            }
            @if (User.IsInRole("VenueManager"))
            {
                <small id="VenueManagerRole" class="label label-primary">VenueManager</small>
            }
            @if (User.IsInRole("EventManager"))
            {
                <small id="EventManagerRole" class="label label-info">EventManager</small>
            }
        </h2>
        <h4>@Model.Email</h4>
        <div class="btn-group">
            <a class="btn btn-info" href="@Url.Action("Edit","User")"><i class="fa fa-edit"></i> @Resources.Resource.EditProfile</a>
            <a class="btn btn-primary" href="@Url.Action("Pay","User")"><i class="fa fa-credit-card"></i> @Resources.Resource.UpBalance</a>
            <a class="btn btn-success" href="@Url.Action("ChangePassword","Account")"><i class="fa fa-eye-slash"></i> @Resources.Resource.ChangePassword</a>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-3 text-right ">
        <h3>@Resources.Resource.YourBalance</h3>
        <h1 class="no-margins">@Model.Balance.ToString("C2")</h1>
    </div>

</div>
<div class="row m-b-n">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="height: 75px;">
                <h1 style="float: left">@Resources.Resource.YourPurchases</h1>
                <span class="label label-info">@Model.Purchases.Count</span>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="feed-activity-list">
                        @Html.Partial("_EventPurchases", @Model.Purchases.ToPagedList((int)@ViewBag.PageNumber, (int)@ViewBag.PageSize))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
