﻿@using System.Web.Optimization
@model TicketManagement.Web.Models.PayViewModel
@{
    ViewBag.Title = "Up balance";
}

<div class="row m-t-lg">

    <div class="col-lg-12">

        <div class="ibox">
            <div class="ibox-title">
                @Resources.Resource.UpBalance
            </div>
            <div class="ibox-content">

                <div class="panel-group payments-method" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <i class="fa fa-cc-amex text-success"></i>
                                <i class="fa fa-cc-mastercard text-warning"></i>
                                <i class="fa fa-cc-discover text-danger"></i>
                            </div>
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Credit Card</a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-8">
                                        @using (Html.BeginForm("Pay", "User", FormMethod.Post, new { @class = "m-t", @role = "form", @id = "payment-form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>Value</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control" name="Value" placeholder="@Resources.Resource.EnterValue" required="">
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-7 col-md-7">
                                                    <div class="form-group">
                                                        <label>EXPIRATION DATE</label>
                                                        <input type="text" class="form-control" name="Expiry" placeholder="MM / YY">
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 col-md-5 pull-right">
                                                    <div class="form-group">
                                                        <label>CV CODE</label>
                                                        <input type="text" class="form-control" name="CVC" placeholder="CVC">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>NAME OF CARD</label>
                                                        <input type="text" class="form-control" name="NameCard" placeholder="NAME AND SURNAME">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-primary" type="submit">@Resources.Resource.UpBalance</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

