﻿@model string

@if (@Model.Length == 0)
{
    <script type="text/javascript">
        window.location = '@Url.Action("Index", new {area = string.Empty, controller = "Event"})';
    </script>
}
else
{
    <div class="alert alert-danger alert-dismissable m-t-lg">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <div id="errorText">
            @Model
        </div>
    </div>
}
