﻿@model List<TicketManagement.Web.Areas.Manager.Models.LayoutViewModel>

@foreach (var item in Model)
{
    <div class="ibox-content">

        <div class="table-responsive">
            <table class="table shoping-cart-table">
                <tbody>
                    <tr>
                        <td class="desc">
                            <a id="layout_@item.Id" href="#" onclick="setValueLayout(@item.Id, '@item.Name')">
                                <h2 id="layoutName_@item.Id">
                                    @item.Name
                                </h2>
                                <p>
                                    @item.Description
                                </p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
