﻿@using System.Web.Optimization
@using PagedList.Mvc
@model PagedList.IPagedList<TicketManagement.Web.Models.VenueViewModel>


@foreach (var item in Model)
{
    <div class="ibox-content">

        <div class="table-responsive">
            <table class="table shoping-cart-table">
                <tbody>
                    <tr>
                        <td class="desc">
                            <h3>
                                @Ajax.ActionLink(item.Name, "GetLayouts", new { area = "Manager", controller = "Event", item.Id }, new AjaxOptions { UpdateTargetId = "layouts" }, new { @class = "text-navy", id = "venue_" + item.Id })
                            </h3>
                            <p class="small">
                                @item.Description
                            </p>
                            <dl class="small m-b-none">
                                <dt>@Resources.Resource.Address</dt>
                                <dd>@item.Address</dd>
                            </dl>
                        </td>

                        <td>
                            @Resources.Resource.Phone
                        </td>
                        <td>
                            <h4>
                                @item.Phone
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
}
<div class="ibox-content">
    @Resources.Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.Resource.Of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Create", new { area = "Manager", controller = "Event", page }))
</div>
<div class="row m-lg">

</div>


