﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TManagement | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
</head>
<body class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="logo-name">TManagement</h1>
            </div>
        </div>
    </div>
    <div class="middle-box text-center loginscreen ">
        @RenderBody()
    </div>
    <div style="position: absolute; left: 10px; top: 10px;">
        <a href="@Url.Action("Index",new {area = "", controller="Event"})" class="btn btn-w-m btn-info">@Resources.Resource.ComeBackOnSite</a>
    </div>
    <div class="btn-group" style="position: absolute; right: 10px; top: 10px;">
        <a id="lang-ru" href="@Url.Action("ChangeCulture", new { area = "", controller = "Account", culture="ru" })" class="btn btn-white" type="button">Русский</a>
        <a id="lang-en" href="@Url.Action("ChangeCulture", new { area = "", controller = "Account", culture = "en" })" class="btn btn-white" type="button">English</a>
        <a id="lang-be" href="@Url.Action("ChangeCulture", new { area = "", controller = "Account", culture="be" })" class="btn btn-white" type="button">Беларуская</a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
