﻿@using PagedList
@model TicketManagement.Web.Areas.Manager.Models.EventCreateViewModel
@{
    ViewBag.Title = "Create";
}
@section styles
{
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
}
<div class="row m-t-lg">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@Resources.Resource.CreateEvent</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-8 b-r">
                        @using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "m-t", @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Name } })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Description, style = "height:145px" } })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Poster, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Poster, id = "posterId" } })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input class="form-control" type="file" name="upload" id="uploadFile" />
                            </div>
                            <div class="col-md-2 col-md-offset-10 form-group">
                                <button class="btn btn-primary" id="submit">Загрузить</button>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="sandbox-container input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.EditorFor(m => m.DateStart, new { @class = "form-control date-pick", placeholder = @Resources.Resource.TimeStart })
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group clockpicker form-group" data-autoclose="true">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                    @Html.EditorFor(m => m.TimeStart, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="sandbox-container input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.EditorFor(m => m.DateEnd, new { @class = "form-control date-pick", placeholder = @Resources.Resource.TimeEnd })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group clockpicker form-group" data-autoclose="true">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                    @Html.EditorFor(m => m.TimeEnd, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control input-validation-error" data-val="true" data-val-number="The field LayoutId must be a number." data-val-required="@Resources.Resource.ChooseLayout" id="layoutId" name="LayoutId" type="hidden">
                                    <input id="layoutName" disabled="" class="form-control" type="text" placeholder="Выберите расположение из вариантов ниже" />
                                </div>
                            </div>
                            <div id="errorText" class="col-md-6">
                                @Html.ValidationSummary()
                            </div>
                            <div class="col-md-6">
                                <button id="AddEvent" type="submit" class="btn btn-primary block full-width m-b">@Resources.Resource.AddEvent</button>
                            </div>


                        }
                    </div>
                    <div class="col-sm-4 p-xl">
                        <h4></h4>
                        <div id="resultImg" class="text-center">
                            <img class="img-responsive" src="~/Content/images/No_Poster.png" alt="poster" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <div class="ibox">
            <div class="ibox-title">
                <span class="pull-right">(<strong>@Model.Venues.Count</strong>) мест</span>
                <h5>Доступные места</h5>
            </div>
            @Html.Partial("_VenueList", @Model.Venues.ToPagedList((int)@ViewBag.PageNumber, (int)@ViewBag.PageSize))
        </div>

    </div>
    <div class="col-md-6">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Возможные расположения </h5>
            </div>
            <div id="layouts">

            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    <script>
        function setValueLayout(id, name) {
            $("#layoutId").val(id);
            $("#layoutName").val(name);
        }
    </script>    
    
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en-US")
    {
        <script src='@Url.Content("~/Scripts/datepicker.en.js")' type="text/javascript"></script>
    }
    else
    {
        <script src='@Url.Content("~/Scripts/datepicker.ru.js")' type="text/javascript"></script>
    }
    <script type="text/javascript">

        $('#submit').on('click', function (e) {
            e.preventDefault();
            var files = document.getElementById('uploadFile').files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Upload", new {area="Manager", controller="Event"})',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            $('#resultImg').html("<img class='img-responsive' src=" + result + " alt='poster' />");
                            $('#posterId').val(result);
                        },
                        error: function (xhr, status, p3) {
                            alert(xhr.responseText);
                        }
                    });
                }
            }
        });
    </script>
}
