﻿@using PagedList
@model TicketManagement.Web.Areas.Manager.Models.EventEditViewModel

@{
    ViewBag.Title = "title";
}
@section styles
{
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
}

<div class="row m-t-lg">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@Resources.Resource.CreateEvent</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-8 b-r">
                        @using (Html.BeginForm("Edit", "Event", new { area = "Manager" }, FormMethod.Post, new { @class = "m-t", @role = "form", id="edit-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Name } })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Description, style = "height:145px" } })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Poster, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Poster, id = "posterId" } })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input class="form-control" type="file" name="upload" id="uploadFile" />
                            </div>
                            <div class="col-md-2 col-md-offset-10 form-group">
                                <button class="btn btn-primary" id="submit">Загрузить</button>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="sandbox-container input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control valid" data-val="true" data-val-required="Требуется поле DateStart." id="DateStart" name="DateStart" placeholder="Время начала" type="text" value=@Model.DateStart.LocalDateTime.Date aria-required="true" aria-describedby="DateStart-error" aria-invalid="false">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group clockpicker form-group" data-autoclose="true">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                    <input class="text-box single-line" data-val="true" data-val-required="Требуется поле TimeStart." id="TimeStart" name="TimeStart" type="time" value=@Model.DateStart.LocalDateTime.ToLocalTime().ToString("hh:mm")>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="sandbox-container input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control valid" data-val="true" data-val-required="Требуется поле DateEnd." id="DateEnd" name="DateEnd" placeholder="Время начала" type="text" value=@Model.DateEnd.LocalDateTime.Date aria-required="true" aria-describedby="DateEnd-error" aria-invalid="false">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group clockpicker form-group" data-autoclose="true">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                    <input class="text-box single-line" data-val="true" data-val-required="Требуется поле TimeEnd." id="TimeEnd" name="TimeEnd" type="time" value=@Model.DateEnd.LocalDateTime.ToLocalTime().ToString("hh:mm")>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control input-validation-error" data-val="true" data-val-number="The field LayoutId must be a number." data-val-required="@Resources.Resource.ChooseLayout" id="layoutId" name="LayoutId" type="hidden" value="@Model.LayoutId">
                                    <input id="layoutName" disabled="" class="form-control" type="text" placeholder="Выберите расположение из вариантов ниже" value=@Model.Layout.Name />
                                </div>
                            </div>
                            <div id="errorText" class="col-md-6">
                                @Html.ValidationSummary()
                            </div>
                            <div class="col-md-6">
                                <button id="EditEvent" type="submit" class="btn btn-primary block full-width m-b">@Resources.Resource.AddEvent</button>
                            </div>


                        }
                    </div>
                    <div class="col-sm-4 p-xl">
                        <h4></h4>
                        <div id="resultImg" class="text-center">
                            <img class="img-responsive" src="@Model.Poster" alt="poster" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="ibox">
            <div class="ibox-title">
                <span class="pull-right">(<strong>@Model.Venues.Count</strong>) мест</span>
                <h5>Доступные места</h5>
            </div>
            @foreach (var item in @Model.Venues)
            {
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                                <tr>
                                    <td class="desc">
                                        <h3>
                                            @Ajax.ActionLink(item.Name, "GetLayouts", new { area = "Manager", controller = "Event", item.Id }, new AjaxOptions { UpdateTargetId = "layouts" }, new { @class = "text-navy" })
                                        </h3>
                                        <p class="small">
                                            @item.Description
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>@Resources.Resource.Address</dt>
                                            <dd>@item.Address</dd>
                                        </dl>
                                    </td>

                                    <td>
                                        @Resources.Resource.Phone
                                    </td>
                                    <td>
                                        <h4>
                                            @item.Phone
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            }
        </div>

    </div>
    <div class="col-md-6">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Возможные расположения </h5>
            </div>
            <div id="layouts">

            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    <script>
        function setValueLayout(id, name) {
            $("#layoutId").val(id);
            $("#layoutName").val(name);
            $('#eventArea').html("");
        }
    </script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en-US")
    {
        <script src='@Url.Content("~/Scripts/datepicker.en.js")' type="text/javascript"></script>
    }
    else
    {
        <script src='@Url.Content("~/Scripts/datepicker.ru.js")' type="text/javascript"></script>
    }
    <script type="text/javascript">

        $('#submit').on('click', function (e) {
            e.preventDefault();
            var files = document.getElementById('uploadFile').files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Upload", new {area="Manager", controller="Event"})',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            $('#resultImg').html("<img class='img-responsive' src=" + result + " alt='poster' />");
                            $('#posterId').val(result);
                        },
                        error: function (xhr, status, p3) {
                            alert(xhr.responseText);
                        }
                    });
                }
            }
        });
    </script>
}
