﻿@model TicketManagement.Web.Models.EventAreaViewModel


    <div class="row">
        <div class="middle-box text-center center-block animated fadeInDown" style="width: 400px;">

            <h2>@Resources.Resource.EditPrice</h2>
        @using (Html.BeginForm("EditPrice", "Event", new { area = "Manager" }, FormMethod.Post, new { @class = "m-t", @role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Resource.Price } })
            </div>
            <p class="text-danger">@Html.ValidationSummary()</p>
            <button type="submit" class="btn btn-primary block full-width m-b">@Resources.Resource.UpdateData</button>
        }
    </div>
</div>


@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}