﻿@using System.Activities.Statements
@using System.Globalization
@model List<TicketManagement.Web.Areas.Manager.Models.BookSeatViewModel>
<div class="m-t-lg">
    @if (@Model.Count > 0)
    {
        decimal cost = 0;
        <div class="col-md-2 col-md-offset-1">
            <h1 class="text-muted">@Resources.Resource.SeatYouLock:</h1>
        </div>

        <div class="col-md-4">
            <table class="table m-t-md">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Resources.Resource.Number <strong>@item.Number</strong>
                            </td>
                            <td>
                                @Resources.Resource.Row <strong>@item.Row</strong>
                            </td>
                            <td>
                                @Resources.Resource.Price <strong>@item.Price</strong>
                            </td>
                        </tr>
                        cost += item.Price;
                    }
                </tbody>
            </table>
        </div>


        <div class="col-md-12">
            <h1 class="product-main-price text-right no-margins">
                @Resources.Resource.ToCart: <strong class="text-info">@cost.ToString("C2")</strong>
            </h1>
            
            @Ajax.ActionLink(@Resources.Resource.Buy, "BuySeats", new { area = "Manager", controller = "Event"}, new AjaxOptions { UpdateTargetId = "succeedBuy" }, new { @class = "btn btn-lg btn-info pull-right m-t-md", id = "BuySeat" })
        </div>
    }

</div>