﻿@using PagedList.Mvc
@model PagedList.IPagedList<TicketManagement.Web.Models.EventPurchaseViewModel>

@foreach (var item in Model)
{
    <div class="feed-element">
        <a href="@Url.Action("Details", "Event",new {id=item.Id})" class="pull-left">
            <img alt="image" id="img-event" src="@item.Poster">
        </a>
        <div class="media-body ">
            <h1 class="pull-right">@Resources.Resource.Cost  @item.Price.ToString("C2")</h1>
            <h1>@item.Name</h1> @item.Description <br>
            <div class="pull-right">
                <h3 class="text-muted">@item.DatePurchase.LocalDateTime.ToShortDateString()</h3>
            </div>
        </div>
    </div>
}
@Resources.Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", "User", new { page }))