﻿<div class="footer">
    <div class="pull-right">
        @Resources.Resource.Email: info@ticketmanagement.by
    </div>
    <div>
        <strong>Copyright</strong> TicketManagement &copy; 2017 @Resources.Resource.Copyright
    </div>
</div>
