﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <label>TicketManagement</label>
                </div>
                <div class="logo-element">
                    TM
                </div>
            </li>
            <li>
                <a href="@Url.Action("Index",new { area = string.Empty, controller = "Event" })"><i class="fa fa-ticket"></i> <span class="nav-label">@Resources.Resource.EventNavigation</span> </a>
            </li>

            <li>
                <a href="@Url.Action("Index", new { area = string.Empty, controller = "User" })"><i class="fa fa-id-badge"></i> <span class="nav-label">@Resources.Resource.Profile</span> </a>
            </li>

            <li>
                <a href="@Url.Action("Create", new { area = "Manager", controller="Event" })"><i class="fa fa-cogs"></i> <span class="nav-label">@Resources.Resource.NavigationEventManager</span> </a>
            </li>

        </ul>
    </div>
</nav>