﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            @using (Html.BeginForm("Search", "Event", new { area = string.Empty }, FormMethod.Post, new { @class = "navbar-form-custom", @role = "search" }))
            {
                <div class="form-group">
                    <input type="text" placeholder="@Resources.Resource.SearchTopNavbar" class="form-control" name="search" id="top-search">
                </div>
            }
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>