﻿@using System.Web.Optimization
@model TicketManagement.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
}

<div class="row">
    <div class="middle-box text-center center-block animated fadeInDown" style="width: 400px;">

        <h2>@Resources.Resource.ChangePassword</h2>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "m-t", @role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = @Resources.Resource.CurrentPassword })
            </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = @Resources.Resource.NewPasswword })
                    </div>
                    <p class="text-danger">@Html.ValidationSummary()</p>
                    <button type="submit" class="btn btn-primary block full-width m-b">@Resources.Resource.ChangePassword</button>
        }
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
