﻿@model TicketManagement.Web.Models.LoginViewModel

@{
    Layout = "Shared/_LayoutAccount.cshtml";
}

<h2>@Resources.Resource.DescriptionSignIn</h2>
<div id="error-text">
    <h3 class="text-danger">@Html.ValidationSummary()</h3>
</div>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "m-t", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Login" })
        <p class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</p>
    </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Resource.Password })
            <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
        </div>
        <div class="form-group">
            @Html.EditorFor(m => m.ReturnUrl)
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">@Resources.Resource.Login</button>

        <a href="#"><small>@Resources.Resource.FargotPassword</small></a>
        <p class="text-muted text-center">
            <small>@Resources.Resource.DontHaveAccout</small>
        </p>
        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Account")">@Resources.Resource.CreateAccount</a>
}