﻿@model TicketManagement.Web.Models.RegisterViewModel
@{
    Layout = "Shared/_LayoutAccount.cshtml";
}

<h2>@Resources.Resource.DescriptionSignIn</h2>
<h3 class="text-danger">@ViewBag.Error</h3>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "m-t", @role = "form" }))
            {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Resource.FirstName } })
        <p class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</p>
    </div>
    <div class="form-group">
        @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Resource.Surname } })
        <p class="text-danger">@Html.ValidationMessageFor(m => m.Surname)</p>
    </div>
    <div class="form-group">
        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login" } })
        <p class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</p>
    </div>
    <div class="form-group">
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
        <p class="text-danger">@Html.ValidationMessageFor(m => m.Email)</p>
    </div>
    <div class="form-group">
        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Password } })
        <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
    </div>
    <div class="form-group">
        @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = @Resources.Resource.Password } })
        <p class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">@Resources.Resource.Register</button>

    <p class="text-muted text-center">
        <small>@Resources.Resource.DoHaveAccount</small>
    </p>
    <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Login", "Account")">@Resources.Resource.Login</a>
}